<div fxLayout="column" fxFlex>
    <div #element fxLayout="column" fxFlex>
        <mat-label *ngIf="title">{{title}}</mat-label>
        <div class="grid-toolbar" fxLayoutAlign="start center" [fxShow]="selection.selected.length > 0 && (selectionMode == 'single' || selectionMode == 'multiple')">
            <span>{{selection.selected.length}} selecionado(s)</span>
            <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="selectionMode == 'multiple'">
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu" yPosition="below" xPosition="after">
                <button mat-menu-item (click)="selectAll($event)">Marcar todos
                    tudo</button>
                <button mat-menu-item (click)="selection.clear()">Desmarcar todos</button>
            </mat-menu>
            <span fxFlex></span>
            <button mat-icon-button (click)="rowRemoveEvent.emit(selection.selected)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
        <ng-container>
            <mat-table matSort #table [dataSource]="dataTableSource">
                <ng-container matColumnDef="select">
                    <mat-header-cell *matHeaderCellDef style="width:60px; min-width: 60px;max-width: 60px">
                        <mat-checkbox (change)="selectAll($event);" *ngIf="selectionMode == 'multiple'"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [disabled]="options.disabled"
                            [indeterminate]="selection.hasValue() && !rsm.isAllSelected()"></mat-checkbox>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let register" style="width:60px; min-width: 60px;max-width: 60px">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            [disabled]="options.disabled"
                            (change)="$event.register = register;gridCheckBoxChange($event, register); checkboxChange.emit($event);"
                            [checked]="selection.isSelected(register)"></mat-checkbox>
                            
                    </mat-cell>
                </ng-container>
                <ng-container *ngFor="let column of options.columns; let i = index">
                    <ng-container *ngIf="!column.type || column.type == 'label'" [matColumnDef]="column.dataField">
                        <mat-header-cell *matHeaderCellDef [ngStyle]="{'max-width': column.width}" mat-sort-header>
                            {{column.headerText}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let register" [ngStyle]="{'max-width': column.width}" (click)="cellOnClick(column, register, $event)">
                            <div *ngIf="!column.asyncLabelFunction" >
                                {{processLabelFunction(column, register)}}
                            </div>
                            <div *ngIf="column.asyncLabelFunction" >
                                {{processAsyncLabelFunction(column, register)}}
                            </div>
                        </mat-cell>
                        <mat-cell *matCellDef="let register" [ngStyle]="{'max-width': column.width}">
                            {{register[column.dataField]}}
                        </mat-cell>
                    </ng-container>
                    <ng-container *ngIf="column.type == 'check'" [matColumnDef]="column.dataField">
                        <mat-header-cell *matHeaderCellDef [ngStyle]="{'max-width': column.width}" mat-sort-header>
                            {{column.headerText}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let register" [ngStyle]="{'max-width': column.width}">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="fieldCheckBoxChange($event, register, column.dataField)"
                                [disabled]="options.disabled"
                                [checked]="fieldCheckSelected(register, column.dataField)"></mat-checkbox>
                        </mat-cell>
                    </ng-container>
                    <ng-container *ngIf="column.type == 'text'" [matColumnDef]="column.dataField">
                        <mat-header-cell *matHeaderCellDef [ngStyle]="{'max-width': column.width}" mat-sort-header>
                            {{column.headerText}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let register" [ngStyle]="{'max-width': column.width}">
                            <mat-form-field appearance="outline" [ngStyle]="{'width': column.width}">
                                <input matInput 
                                (change)="changeText($event, register, column.dataField)"
                                [value]="register[column.dataField]"
                                [attr.disabled]="options.disabled"
                                />
                            </mat-form-field>
                        </mat-cell>
                    </ng-container>
                </ng-container>
                <ng-container matColumnDef="actions" *ngIf="options.enable !== null" stickyEnd>
                    <mat-header-cell *matHeaderCellDef class="action-area"> </mat-header-cell>
                    <mat-cell *matCellDef="let register" class="action-area">
                        <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation();">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item *ngIf="options.enable.edit"
                                (click)="edit(register)">Visualizar</button>
                            <button mat-menu-item *ngIf="options.enable.remove"
                                (click)="remove(register)">Deletar</button>
                            <button mat-menu-item *ngFor="let item of options.enable.additional; let i = index"
                                (click)="item.click(register)">{{item.nameField}}</button>
                        </mat-menu>
                    </mat-cell>
                </ng-container>
                <mat-header-row fxLayoutGap="10px" *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row fxLayoutGap="10px" #gridLines *matRowDef="let register; columns: displayedColumns"
                    [class.mat-hover]="rowClick.observers.length > 0" [class.mat-selected]="selection.isSelected(register)"
                    (click)="onRowClick($event, register)" (dblclick)="onRowDoubleClick($event, register)"></mat-row>
            </mat-table>
        </ng-container>
        <div class="no-rows" *ngIf="dataTableSource.data && dataTableSource.data.length == 0">
            Nenhum registro encontrado.
        </div>
    </div>
    <mat-paginator fxFlex="56px" [pageSizeOptions]="[5, 10, 15, 20, 50]"></mat-paginator>
</div>