:host {
     //min-width: 100%;
     max-height: 100%;
     flex: 1 !important;
     display: flex;
     flex-direction: column;
     position: relative;
     #gridContent {
         min-height: calc(100% - 59px);
         display: block;
     }
     .action-area {
         width: 48px !important;
         max-width: 48px !important;
     }
     h5,
     mat-label {
         margin: 0px 10px 0px;
         font-size: 11px;
     }

     .mat-header-cell{
         font-size: 10px;
     }

     .mat-cell{
         font-size: 12px;
     }

     .add-fab-button {
         position: absolute;
         right: 0px;
         bottom: 50px;
         z-index: 1;
     }
     .grid-toolbar {
         position: absolute;
         max-height: 57px;
         min-height: 57px;
         min-width: 100%;
         top: 0;
         left: 0;
         color: #fff;
         background: #03a9f4;
         padding: 10px;
         border-radius: 3px;
         animation-name: slideDown;
         -webkit-animation-name: slideDown;
         animation-duration: 0.3s;
         -webkit-animation-duration: 0.3s;
         animation-timing-function: ease;
         -webkit-animation-timing-function: ease;
         visibility: visible !important;
         z-index: 2;
     }
     mat-table {
         min-width: 100% !important;
         overflow-x: hidden !important;
         overflow-y: auto;
         max-height: 35vh;
     }

     .mat-header-row {
         padding: 0;
         border: none;
         cursor: pointer !important;
     }
     .mat-header-row .mat-row .mat-header-cell .mat-cell {
         display: table-cell;
         height: 48px;
         max-height: 48px;
         vertical-align: middle;
         border-bottom: 1px solid rgba(0, 0, 0, 0.12);
         cursor: pointer !important;
     }
     .mat-row {
         z-index: 0;
         &:hover {
             padding: 0;
             border: none;
             cursor: pointer !important;
             background: #eee;
             z-index: 2;
         }
         /* &.mat-selected {
             background: #aaa !important;
         } */
     }

     .mat-row:hover {
         padding: 0;
         border: none;
         cursor: pointer !important;
         background: #eee;
         z-index: 2;
     }

     .mat-form-field-infix{
         width: auto;
     }

     .action-column{
         max-width: 50px;
     }

     .no-rows {
         position: relative;
         padding: 15px;
         text-align: center;
         min-width: 100%;
         box-sizing: border-box;
         font-size: 0.85em;
     }
 
     @keyframes slideDown {
         0% {
             transform: translateY(-10%);
         }
         100% {
             transform: translateY(0%);
         }
     }
 
     @-webkit-keyframes slideDown {
         0% {
             -webkit-transform: translateY(-10%);
         }
         100% {
             -webkit-transform: translateY(0%);
         }
     }
}