#registry=https://npm.pkg.github.com/@tivic-team
#registry=https://registry.npmjs.org
registry=https://registry.npmjs.org
@tivic-team:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=203da40621c75c8eb7d1bb7e9b194ebdb148da81
always-auth=true
